import java.util.ArrayList;
import java.util.Random;

// - What are Java Loops, and how can they be used?

class RunLoops {
    public static void runWithWhileLoop() {
        System.out.println("Called runWithWhileLoop");
        
        // GENERATE RANDOM NUMBER response
        Random random = new Random();
        int response = random.nextInt(100);

        // LOOP ON WHETHER THE response IS DIVISIBLE BY 4
        while(response % 4 != 0) {
            
            // DISPLAY THE CURRENT response
            System.out.println("Random Response: " + response);
            
            // GENERATE RANDOM NUMBER response
            response = random.nextInt(100);
        }


        // DISPLAY THE FINAL response
        System.out.println("Final Response: " + response);
        System.out.println();

    }
    public static void runWithWhileLoopData() {
        System.out.println("Called runWithWhileLoopData");
        
        ArrayList<Integer> list = new ArrayList<Integer>();
        int currentIndex = 0;

        while(currentIndex < list.size()) {
            
            // INCREMENT THE currentIndex
            currentIndex++;
        }


        System.out.println();

    }
    public static void runWithDoWhileLoop() {
        System.out.println("Called runWithDoWhileLoop");

        Random random = new Random();
        int response = random.nextInt(100);
        do {
            System.out.println("Random Response: " + response);
            response = 100;//random.nextInt(100);
        } while(response % 2 != 0);
        System.out.println("Final Random: " + response);
        System.out.println();
        System.out.println();
    }
    public static void runWithForLoops() {
        System.out.println("Called runWithForLoops");

        // FOR LOOP ON index
        for(int index = 0; index < 10; index++) {
            if(index == 5) {
                continue;
            } else if(index == 0) {
                // PRINT THE index
                System.out.printf("%2d", index);
            } else {
                // PRINT THE index, WITH A ","
                System.out.printf(", %2d", index);
            }
        }
        System.out.println();

        // FOR LOOP ON index
        for(int index = 10; index > 0; index--) {
            if(index == 5) {
                break;
            } else if(index == 10) {
                // PRINT THE index
                System.out.printf("%2d", index);
            } else {
                // PRINT THE index, WITH A ","
                System.out.printf(", %2d", index);
            }
        }
        System.out.println();
        System.out.println();

    }
    public static void runWithNestedForLoops() {
        System.out.println("Called runWithNestedForLoops");

        Random random = new Random();
        int response = random.nextInt(100);

        System.out.println("Returning On: " + response);
        System.out.println();

        // FOR LOOP ON iIndex
        for(int iIndex = 0; iIndex < 10; iIndex++) {
            
            int decimal = iIndex * 10;

            // FOR LOOP ON jIndex
            for(int jIndex = 0; jIndex < 10; jIndex++) {

                int sum = decimal + jIndex + 1;

                if(jIndex == 0) {
                    // PRINT THE sum
                    System.out.printf("%3d", sum);
                } else {
                    // PRINT THE sum, WITH A ","
                    System.out.printf(", %3d", sum);
                }

                if(response == sum) {
                    return;
                }
            }
            System.out.println();
        }
    }
}

public class Main {
    public static void main(String[] args) {
        System.out.println();
        System.out.println("Hello Live Lessons");
        System.out.println();

        RunLoops.runWithWhileLoop();
        RunLoops.runWithDoWhileLoop();
        RunLoops.runWithForLoops();
        RunLoops.runWithNestedForLoops();
    }
}


// -- While Loop

// -- Do While Loop

// -- For Loops

// -- For Loops continue

// -- For Loops break

// -- Nested For Loops

// -- Nested For Loops return random

// QUESTIONS: Q & A

// NEXT LESSONS (0): What is a Java File?

// NEXT LESSONS (1): What are Java Property Files?

// NEXT LESSONS (2): UNKNOWN(SQL, Threads, Inheritance, Regex, SUGGESTIONS)?

// LESSON SUGGESTIONS: https://git.io/JqCKt
