<?php


    // Hi, today's lesson is going to be on PHP Array Types (Numerical, Associative & Multi-Dimensional)

    // - More specifically what are are Arrays, and how can they be used?

    // In this lesson we will cover:

    // The three Array data types in the PHP programming language. amd combinations of them:

    // - Array is a collection of data which is numerically ordered. Similar to a lobby with one elevator.
 
    // - Dictionary is a collection of data which is unordered and has keys and values. No duplicate keys can exists. Similar to a being assigned a desk at school.

    // - Array of Arrays is a collection of data which is ordered. Similar to a lobby with multiple elevators, that don't move from left to right.

    // - Dictionary of Arrays is a collection of data which is unordered and has keys and array values. Similar to a being assigned an elevator in a lobby with multiple elevators.

    // - What are PHP Arrays, and how can they be used?

    // clear && printf '\e[3J' && php arrays.php

    // INT ARRAY
    $intArray = [];
    $intArray[] = 11;
    $intArray[] = 22;
    $intArray[] = 33;
    $intArray[] = 44;

    // ANOTHER INT ARRAY
    $anotherIntArray = $intArray;

    // YET ANOTHER INT ARRAY
    $yetAnotherIntArray = array(44, 33, 22, 11);

    print("Int Array: ");
    print_r($intArray);
    print(PHP_EOL);
    print("Int Array Length: " . count($intArray));
    print(PHP_EOL . PHP_EOL);

    unset($intArray[1]);
    $intArray[] = 23;

    print("Adjusted Array: ");
    print_r($intArray);
    print(PHP_EOL);

    print("Fixed Array: ");
    print_r(array_values($intArray));
    print(PHP_EOL);

    // ARRAY OF MULTIPLE ARRAYS
    print("Array Of Int Array: ");
    $multiDimensionalArray = [
        $anotherIntArray,
        $yetAnotherIntArray,
        $intArray
    ];
    print_r($multiDimensionalArray);
    print(PHP_EOL);

    unset($multiDimensionalArray[0][1]);
    $multiDimensionalArray[0][] = 24;

    print("Adjusted Multiple Dimension Array: ");
    print_r($intArray);
    print(PHP_EOL);

    print("Fixed Multiple Dimension Array: ");
    $multiDimensionalArray[0] = array_values($multiDimensionalArray[0]);
    print_r($multiDimensionalArray);
    print(PHP_EOL);

    $intDictionary = [
        '1st' => 11,
        '2nd' => 22,
        '3rd' => 33,
        '4th' => 44
    ];

    print("Int Value Dictionary: ");
    print_r($intDictionary);
    print(PHP_EOL);

    unset($intDictionary['2nd']);
    $intDictionary['5th'] = 55;

    print("Adjusted Dictionary: ");
    print_r($intDictionary);
    print(PHP_EOL);

    $stringArrayDictionary = [
        '1st' => ["11", "12", "13", "14"],
        '2nd' => ["21", "22", "23", "24"],
        '3rd' => ["31", "32", "33", "34"],
        '4th' => ["41", "42", "43", "44"],
    ];

    print("String Array Dictionary: ");
    print_r($stringArrayDictionary);
    print(PHP_EOL);

    $stringArrayDictionary["1st"][] = "15";
    $stringArrayDictionary["2nd"][] = "25";
    $stringArrayDictionary["3rd"][] = "35";
    $stringArrayDictionary["4th"][] = "45";

    print("Adjusted Dictionary: ");
    print_r($stringArrayDictionary);
    print(PHP_EOL);



// - integer Array

// - multi-dimensional integer array

// - int value dictionary

// - dictionary of string lists


// QUESTIONS: Q & A

// NEXT LESSON: What are PHP Collections?

?>
